@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* default font */
body {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared style */
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  display: inline-block;
  padding: 10px 24px;
  background: #e02c6d;
  color: #fff;
  text-decoration: none;
  border-radius: 41px;
  transition: background-color 0.3s ease;
  font-weight: 700;
  border: none;
}

.btn:hover {
  background-color: #0056b3;
}

.navbar .logo {
  color: #3a3a3a;
  font-size: 24px;
  font-weight: 700;
}

/* nav styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.navbar .logo {
}

.navbar .menu {
  display: flex;
  list-style: none;
}

.menu-link,
.fa-solid {
  /* padding: 1rem; */
  margin-left: 1rem;
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

/* hero styles */
.hero {
  display: flex;
  align-items: center;
  gap: 130px;
  margin-bottom: 70px;
}

.hero .hero-content {
  width: 50%;
}

.hero-content h1 {
  color: #3a3a3a;
  font-size: 52px;
  font-weight: 700;
  line-height: 70px; /* 134.615% */
  margin-bottom: 0;
}

.hero-content p {
  color: #3a3a3a;
  font-weight: 600;
  margin: 16px 0 16px 0;
}

.hero .hero-img {
  width: 50%;
  border: 1px solid;
  background-image: url("../assets/images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-img img {
  width: 100%;
  max-width: 440px;
}

/* partner styles */
.partners {
  margin-bottom: 100px;
}

.partners-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  place-items: center;
  padding: 33px 24px;
  background: 
    linear-gradient(
      to right,
      transparent 10%,
      rgb(212, 210, 210) 20%,
      rgb(212, 210, 210) 80%,
      transparent 90%
    ) no-repeat, /* Top border */
    linear-gradient(
      to right,
      transparent 10%,
      rgb(212, 210, 210) 20%,
      rgb(212, 210, 210) 80%,
      transparent 90%
    ) no-repeat; /* Bottom border */
  background-size: 100% 1px;
  background-position: top, bottom;
}



.partners-container img {
  max-width: 100%;
}
